<template>
  <div class="w-full">
    <img
      v-if="pageName === 'home'"
      class="w-3/4 h-3/4 mx-auto"
      src="@/assets/illustrations/activity-empty-state.svg"
      alt="empty state"
    />
    <img
      v-if="pageName === 'activity-detail'"
      class="w-3/4 h-3/4 mx-auto"
      src="@/assets/illustrations/todo-empty-state.svg"
      alt="empty state"
    />
  </div>
</template>

<script>
export default {
  name: "EmptyStateImage",
  props: {
    pageName: String,
  },
};
</script>

<style></style>
